<div{{ wrapper_attributes }}>
  <div{{ attributes }}>
    <div{{ region_attributes.col1 }}>
      {{ content.col1 }}
    </div>
    <div{{ region_attributes.col2 }}>
      {{ content.col2 }}
    </div>
    <div{{ region_attributes.col3 }}>
      {{ content.col3 }}
    </div>
  </div>
</div>
