<div{{ attributes }}>
  <div{{ wrapper_attributes }}>
    <div class="layout__regions">
      <div{{ region_attributes.col1 }}>
        {{ content.col1 }}
      </div>
      <div{{ region_attributes.col2 }}>
        {{ content.col2 }}
      </div>
    </div>
  </div>
</div>
